.socialSignin {
  margin: 0.5rem auto 0;
}

.links {
  display: block;
  width: 100%;
  margin: 1.5rem auto 0;
}

a {
  color: #3e00b6;
}

.email-btn {
  display: block;
  width: 100%;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
  color: #6b1eff;
  background: white;
  padding: 1rem 0;
  margin: 0 auto;
  border-color: #6b1eff;
  outline: none;
  cursor: pointer;
}
