.header {
  height: 6.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  .wrap {
    position: relative;
    height: 100%;
    max-width: 1450px;
    margin: 0 auto;

    .logo {
      width: 20rem;
      position: absolute;
      left: 10px;
      top: 50%;
      left: 10px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);

      img {
        display: block;
        position: relative;
        width: 100%;
        margin: 0;
      }
    }
    .callToActions {
      position: absolute;
      top: 50%;
      right: 100px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);

      ul,
      li,
      span {
        margin: 0;
        padding: 0;
      }

      li,
      span {
        display: inline-block;
        list-style-type: none;
        margin-right: 1.5rem;

        &:last-child {
          margin-right: 0;
        }

        a,
        span {
          font-size: 1.8rem;
          line-height: 1;
          color: #4e00e4;
          text-decoration: none;
          text-transform: uppercase;
        }

        .logout {
          cursor: pointer;
        }

        .profile {
          font-size: 28px;
          color: #6b1eff;
          margin-right: 0.5rem;
          padding-top: 0.5rem;
        }
      }
    }
  }
}

.inbox {
  font-size: 21px;
  color: #6b1eff;
}
